{% block page_content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - 
      Event Booking App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
  		rel="shortcut icon"
  		href="/assets/erpnext/images/erpnext-favicon.svg"
  		type="image/x-icon"
  	>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="/assets/event_booking/homeland/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/assets/event_booking/homeland/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/mediaelementplayer.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/animate.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/assets/event_booking/homeland/css/fl-bigmug-line.css">


    <link rel="stylesheet" href="/assets/event_booking/homeland/css/aos.css">

    <link rel="stylesheet" href="/assets/event_booking/homeland/css/style.css">

  <!-- FRAPPE RESOURCES HEAD -->
  <link rel="icon" href="/assets/erpnext/images/erpnext-favicon.svg" type="image/x-icon">
  <link type="text/css" rel="stylesheet" href="/assets/css/desk.min.css?ver=1617776598.0">
  <link type="text/css" rel="stylesheet" href="/assets/css/erpnext.css?ver=1617776598.0">

  <script>
    window.frappe = {};
    frappe.ready_events = [];
    frappe.ready = function(fn) {
      frappe.ready_events.push(fn);
    }
    window.dev_server = {{ dev_server }};
    window.socketio_port = {{ (frappe.socketio_port or 'null') }};
  </script>
  <!-- FRAPPE RESOURCES HEAD -->
   </head>
  <body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {% endif -%} class="{{ body_class or ''}}">

  <div class="site-loader"></div>  
  <div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                      <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                  </li>
                  <li>
                      <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                      <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li class="w-100">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                  </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">LogOut</span>
                  </a>
                  
              </div>
          </div>
      </div>
      <div class="col py-3">
        {% block content %}
        {% endblock %}
      </div>
  </div>
</div>
 
  

</div>

<script src="/assets/event_booking/homeland/js/jquery-3.3.1.min.js"></script>
<script src="/assets/event_booking/homeland/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/event_booking/homeland/js/jquery-ui.js"></script>
<script src="/assets/event_booking/homeland/js/popper.min.js"></script>
<script src="/assets/event_booking/homeland/js/bootstrap.min.js"></script>
<script src="/assets/event_booking/homeland/js/owl.carousel.min.js"></script>
<script src="/assets/event_booking/homeland/js/mediaelement-and-player.min.js"></script>
<script src="/assets/event_booking/homeland/js/jquery.stellar.min.js"></script>
<script src="/assets/event_booking/homeland/js/jquery.countdown.min.js"></script>
<script src="/assets/event_booking/homeland/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/event_booking/homeland/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/event_booking/homeland/js/aos.js"></script>

<script src="/assets/event_booking/homeland/js/main.js"></script>
{% block script %}{% endblock %}

<!-- frappe resources -->

<script type="text/javascript" src="/assets/js/libs.min.js?ver=1617776598.0"></script>
<script type="text/javascript" src="/assets/js/desk.min.js?ver=1617776598.0"></script>
<!-- <script type="text/javascript" src="/assets/js/list.min.js?ver=1617776598.0"></script> -->
<!-- <script type="text/javascript" src="/assets/js/form.min.js?ver=1617776598.0"></script> -->
<script type="text/javascript" src="/assets/js/control.min.js?ver=1617776598.0"></script>
<script type="text/javascript" src="/assets/js/erpnext.min.js?ver=1617776598.0"></script>

<script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>

</body>
</html>
{% endblock %}