{% extends 'templates/event_base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="site-section site-section-sm bg-light">
  <div class="container">

    <div class="row mb-5">

      {% for property in properties %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="/property/detail/{{property.name}}" class="property-thumbnail">
            <div class="offer-type-wrap">
              <!-- <span class="offer-type bg-{% if property.status=='Rent' %}success{% elif property.status=='Sale' %}danger{% else %}warning{% endif %}"> -->
                <span class="offer-type bg-success">
                {{property.Title}}</span>
            </div>
            <img src="{{property.event_image}}" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="/property/detail/{{property.name}}">{{property.Title}}</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> {{property.venue}}</span>
            <strong class="property-price text-primary mb-3 d-block text-success">
              <!-- {{ frappe.format(property.price, {'fieldtype': 'Currency'}) }} <br> -->
              <!-- property_in_btc(property.grand_total) -->
            </strong>
            <!-- <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>

              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>

              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">7,000</span>

              </li>
            </ul> -->

          </div>
        </div>
      </div>
      {% endfor %}




    </div>
    <!-- <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-pagination">
          {% if frappe.form_dict.type %}
            {% if prev  %}
            <a href="/?page={{prev}}&type={{type}}&status={{status}}&city={{city}}" class="btn btn-warning">Previous</a>
            {% endif %}
            {% if next %}
            <a href="/?page={{next}}&type={{type}}&status={{status}}&city={{city}}" class="btn btn-primary">Next</a>
            {% endif %}
          {% else %}
            {% if prev  %}
            <a href="/?page={{prev}}" class="btn btn-warning">Previous</a>
            {% endif %}
            {% if next %}
            <a href="/?page={{next}}" class="btn btn-primary">Next</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div> -->

  </div>
</div>

    


    

   

   


{% endblock %}
