{% extends 'templates/event_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="site-section site-section-sm bg-light">
  <div class="container">
    <link
    rel="shortcut icon"
    href="/assets/erpnext/images/erpnext-favicon.svg"
    type="image/x-icon"
  >
  <link itemprop="url" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
  <link itemprop="url" href="/assets/event_booking/homeland/fonts/icomoon/style.css">

  <link itemprop="url" href="/assets/event_booking/homeland/css/bootstrap.min.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/magnific-popup.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/jquery-ui.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/owl.carousel.min.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/owl.theme.default.min.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/bootstrap-datepicker.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/mediaelementplayer.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/animate.css">
  <link itemprop="url" href="/assets/event_booking/homeland/fonts/flaticon/font/flaticon.css">
  <link itemprop="url" href="/assets/event_booking/homeland/css/fl-bigmug-line.css">


  <link itemprop="url" href="/assets/event_booking/homeland/css/aos.css">

  <link itemprop="url" href="/assets/event_booking/homeland/css/style.css">

<!-- FRAPPE RESOURCES HEAD -->
<link rel="icon" href="/assets/erpnext/images/erpnext-favicon.svg" type="image/x-icon">
<link type="text/css" itemprop="url" href="/assets/css/desk.min.css?ver=1617776598.0">
<link type="text/css" itemprop="url" href="/assets/css/erpnext.css?ver=1617776598.0">
    <div class="row mb-5">

      {% for property in properties %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a href="/property/detail/{{property.name}}" class="property-thumbnail">
            <div class="offer-type-wrap">
              <!-- <span class="offer-type bg-{% if property.status=='Rent' %}success{% elif property.status=='Sale' %}danger{% else %}warning{% endif %}"> -->
                <span class="offer-type bg-success">
                {{property.Title}}</span>
            </div>
            <img src="{{property.event_image}}" alt="Image" class="img-fluid">
          </a>
          <div class="p-4 property-body">
            <a href="#" class="property-favorite"><span class="icon-heart-o"></span></a>
            <h2 class="property-title"><a href="/property/detail/{{property.name}}">{{property.Title}}</a></h2>
            <span class="property-location d-block mb-3"><span class="property-icon icon-room"></span> {{property.venue}}</span>
            <strong class="property-price text-primary mb-3 d-block text-success">
              <!-- {{ frappe.format(property.price, {'fieldtype': 'Currency'}) }} <br> -->
              <!-- property_in_btc(property.grand_total) -->
            </strong>
            <!-- <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Beds</span>
                <span class="property-specs-number">2 <sup>+</sup></span>

              </li>
              <li>
                <span class="property-specs">Baths</span>
                <span class="property-specs-number">2</span>

              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">7,000</span>

              </li>
            </ul> -->

          </div>
        </div>
      </div>
      {% endfor %}




    </div>
    <!-- <div class="row">
      <div class="col-md-12 text-center">
        <div class="site-pagination">
          {% if frappe.form_dict.type %}
            {% if prev  %}
            <a href="/?page={{prev}}&type={{type}}&status={{status}}&city={{city}}" class="btn btn-warning">Previous</a>
            {% endif %}
            {% if next %}
            <a href="/?page={{next}}&type={{type}}&status={{status}}&city={{city}}" class="btn btn-primary">Next</a>
            {% endif %}
          {% else %}
            {% if prev  %}
            <a href="/?page={{prev}}" class="btn btn-warning">Previous</a>
            {% endif %}
            {% if next %}
            <a href="/?page={{next}}" class="btn btn-primary">Next</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div> -->

  </div>
</div>

    


    

   

   


{% endblock %}
